<div class="bg-primary p-2 text-white" [class.bg-warning]="editing" [class.text-dark]="editing">
    <h5>{{editing ? "Edit" : "Create"}} Product</h5> 
</div>
<form #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="text" name="name" id="name" [(ngModel)]="product.name" class="form-control">
    </div>
    <div class="form-group">
        <label for="category" class="control-label">Category</label>
        <input type="text" name="category" id="category" class="form-control" [(ngModel)]= "product.category">
    </div>
    <div class="form-group mb-1">
        <label for="price" class="control-label">Price</label>
        <input type="text" name="price" id="price" class="form-control" [(ngModel)]= "product.price">
    </div>
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary ml-1" routerLink="/admin/main/products">
        Cancel
    </button>
</form>